langchain
chromadb
llama-cpp-python
urllib3
InstructorEmbedding
sentence-transformers
faiss-cpu
huggingface_hub
transformers
protobuf
accelerate
bitsandbytes
python-dotenv~=1.0.0
tqdm~=4.65.0
torch~=2.0.1
einops
